html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container-fluid{
    width: 100%;
}

body {
    background-color: black;
}

.bg-custom{
    background-color: rgb(214, 0, 0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 5); /* Subtle shadow */


}


.searcher{
    border-radius: 10px;
}


.post-card {
    position:relative;
    left: 30%;
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
    border: none !important; /* Remove border */
    width: 40%;
    text-align: center;
    border-radius: 0; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 5); /* Subtle shadow */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
}

.post-card:hover {
    transform: scale(1.05); /* Slightly lift the card on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.btn-primary{
    margin-top: 20px;
}

